@use 'variables';
@use 'colors';
// * base styles

// Animate scrolling only if users don’t prefer reduced motion
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  font-family: variables.$sans;
  font-size: variables.$browser-context * 1px; // ! the multiplication enforces pixels, even if you don't specify
  color: colors.$text;
  background-color: colors.$llgray;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* font weight normalization */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; // keeps animations inside the viewport

  &.locked {
    // add this class with javascript when you launch a modal or something, to prevent background scrolling
    overflow: hidden;
  }
}

// responsive images
img,
picture {
  display: block;
  width: 100%;
  height: auto;
}

// box-sizing settings
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// https://piccalil.li/quick-tip/add-scroll-margin-to-all-elements-which-can-be-targeted
[id] {
  scroll-margin-top: 2ex;
}